#editorForm {
	padding: 30px;
}

#editorIframe {
	width: 49%;
	height: 400px;
	float: left;
}

#editorTextarea {
	border: 1px solid #000000;
	margin-left: 1%;
	width: 49%;
	height: 400px;
}

span.separator {
	font-size: 250%;
	font-weight: bold;
}

